<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td><a href="/employee/update/{{this.email}}" class="btn btn-info">Update</a></td>
            <td><a href="/employee/delete/{{this.email}}" class="btn btn-danger">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>